html {
    position: relative;
    min-height: 100%;
}

body{
	margin: 0 0 100px;
	font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
	background-color: #000;	
	color: white;
	line-height: 150%;
	box-sizing: border-box;
}

header {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

main {
	width: 100%;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("../images/ball.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section {
	width:50%;
	float: left;
	padding-top: 100px;
	vertical-align: middle;
}

footer {
	margin-left: auto;
	margin-right: auto;
	clear: both;
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }

 h1 { 
 	padding-top:40px;
 	font-size: 2em;
 	font-weight: bold;
 	text-align: center;
 	letter-spacing: .5px;
 	font-style: oblique;
 }

 h2 {
	font-size: 1.25em;
	margin-bottom: 7px;
	color:#232b2b;
	margin: 0 10% 0 33%;
	text-align: left;
	text-shadow: .5px .25px white;
	font-weight: bold;
	line-height: 175%;
}

 h3 {
	font-size: 1.25em;
	margin-bottom: 7px;
	letter-spacing: .5px;
	line-height: 175%;
}

h4 { 
 	font-size: .75em;
 	font-style: oblique;
 	text-align: center;
 	letter-spacing: .5px;
}
 
 h6 {
 	font-size: .75em;
 	font-style: oblique;
 	text-align: center;
 	letter-spacing: .5px;
 	color:#3b444b:;
 }

 a {
 	text-decoration: none;
 	color: #58595b;
 }

 a:hover {
 	text-decoration: none;
 	color: #636466;
 }

/*medium desktop*/
@media screen and (max-width: 980px) {


}/*close desktop*/

/*tablet*/
@media screen and (max-width: 768px) {
h1 { 
 	font-size: 1.75em;
}
h2, h3{
	font-size: 1em;
	line-height: 150%;
}
}/*close tablet*/

/*phone*/
@media screen and (max-width: 640px) {
h1 { 
 	font-size: 1.5em;
}
h2, h3{
	font-size: .75em;
	line-height: 150%;
}

section {
	padding-top: 100px;
}
}/*close phone*/

















 